---
  // @ts-ignore
  import { Icon } from "astro-icon";

  const features = [
    {
      title: "Fast",
      description:
        "SwiftTX transactions are confirmed in less than a second.",
      icon: "bi:lightning"
    },
    {
      title: "Decentralized",
      description:
        "Anybody with a computer can stake to earn money and contribute to running the blockchain.",
      icon: "bi:boxes"
    },
    {
      title: "Low Fees",
      description:
        "Send money globally for less than a cent.",
      icon: "bi:currency-exchange"
    },
    {
      title: "Private, untraceable",
      description:
        "Transact privately - zBTC2 and Tor.",
      icon: "bi:eye-slash"
    },
    {
      title: "Energy efficient",
      description:
        "Bitcoin 2 uses a unique, secure Proof of Stake algorithm. Greatly reducing electricity use compared to other cryptocurrencies.",
      icon: "bi:battery-charging"
    },
    {
      title: "Scalable",
      description:
        "Max transactions per second 40 times more than Bitcoin.",
      icon: "bi:arrows-fullscreen"
    },
  ];
---

<div class="mt-16 md:mt-0 hidden">
  <h2 class="text-3xl lg:text-3xl font-bold lg:tracking-tight">
    Bitcoin 2 is the result of a decade of improvements to blockchain technology
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Bitcoin 2 is a scalable energy efficient cryptocurrency supporting anonymous and instant transactions.<wbr/>
Open source - Anonymous - Fast - Proof of Stake algorithm.
  </p>
  <p class="text-lg mt-4 text-slate-600">
    At launch, all Bitcoin holders as of February 5 2018 got BTC2 on a 1 for 1 basis.<wbr/>
The Bitcoin 2 balances, addresses and supply were set to equal those of Bitcoin.<wbr/>
    <wbr/>
&#8220;Be part of our Bitcoin 2 Masternode community or simply stake through our Web Wallet!&#8221;<br>
    <wbr/>
Long-term goals: In-wallet decentralized exchange, and real world use.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
  features.map((item) => (
  <div class="max-w-sm p-6 bg-white shadow-md">
    <div class="flex justify-center items-center mb-3.5">
      <Icon class="text-orange-500 w-16" name={item.icon} />
    </div>
    <div>
      <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
      <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
    </div>
  </div>
  ))
  }
</div>
